<list></list>
<div class="detail-view">
	<div class="face"></div>
	<h2 class="new-address-header">Edit Address</h2>
	<div class="detail-data edit-data">
		<form [ngFormModel]="editAddressForm"
	        (ngSubmit)="onSubmit(editAddressForm.value)"
	        class="ui form new-address">
			First name: <input
						type="text"
						id="firstnameInput"
						placeholder="John"
						required
						#firstName="ngForm" [ngFormControl]="editAddressForm.controls['firstName']"
						[ngModel]="addressService.selectedAddress.firstName"> <br />
 
			Last name: <input
						type="text"
						id="lastnameInput"
						placeholder="Smith"
						required
						#lastName="ngForm" [ngFormControl]="editAddressForm.controls['lastName']"
						[ngModel]="addressService.selectedAddress.lastName"> <br />
			Email:  <input
						type="text"
						id="mailInput"
						placeholder="mail@example.com"
						required
						#mail="ngForm" [ngFormControl]="editAddressForm.controls['mail']"
						[ngModel]="addressService.selectedAddress.eMail"> <br />
			
			Country:	<select #country="ngForm" 
								[ngFormControl]="editAddressForm.controls['country']" 
								[ngModel]="addressService.selectedAddress.country" class="countries-select">
							<option *ngFor="#country of addressService.mockedCountries()" [value]="country">{{country}}</option>
						</select> 
			<button *ngIf="editAddressForm.valid" type="submit" class="ui submit-button">Submit</button>  						
		</form>							
	</div>
	<div class="validation">
		<div class="field" [class.error]="!editAddressForm.find('firstName').valid && editAddressForm.find('firstName').touched">
			<div *ngIf="firstName.control.hasError('required') && !firstName.control.pristine" class="ui error message">
				First name is required
			</div>
		</div>
		<div class="field" [class.error]="!editAddressForm.find('lastName').valid && editAddressForm.find('lastName').touched">
			<div *ngIf="lastName.control.hasError('required') && !lastName.control.pristine" class="ui error message">
				Last name is required
			</div>
		</div>
		<div class="field" [class.error]="!editAddressForm.find('mail').valid && editAddressForm.find('mail').touched">
			<div *ngIf="!mail.control.valid && !mail.control.pristine" class="ui error message">
				E-mail is invalid
			</div>
			<div *ngIf="mail.control.hasError('required') && !mail.control.pristine" class="ui error message">
				E-mail is required
			</div>
		</div>
		<div class="field" [class.error]="!editAddressForm.find('country').valid || editAddressForm.find('country').touched">
			<div *ngIf="country.control.hasError('required') && !country.control.pristine" class="ui error message">
				Country is required
			</div>
		</div>
	</div>

</div>
<div id="ng-react-component"></div>
